:root {
    --primary-color: #101932;
    --secondary-color: #123660;
    --third-color: #4AACC0;
    --white-color: #fff;
    --gray-color: #707070;
    --ligth-gray-color: #f2f2f2;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.title {
    position: relative;
    text-align: center;
    font-size: 1.25em;
    color: var(--primary-color);
    margin-bottom: 1em;
}

.title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(50% - 25px);
    width: 50px;
    height: 3px;
    background-color: var(--primary-color);
}

.subtitle {
    font-size: 1em;
    color: var(--primary-color);
}

p {
    margin-bottom: 1em;
    text-align: justify;
}

.rs a{
    color: var(--white-color);
    text-decoration: none;
}

.rs a:not(:last-child) {
    margin-right: 2em;
}

.container, .section {
    padding: 0 1em;
}


.header {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.header__slide {
    position: relative;
    width: inherit;
    height: calc(100vh - 100px);
    background: var(--primary-color) url(../img/background-movil.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    clip-path: ellipse(200% 100% at top);
    -webkit-clip-path: ellipse(200% 100% at top);
}

.mouse {
    position: absolute;
    bottom: 30px;
    width: 30px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid var(--white-color);
    display: flex;
    justify-content: center;
}

.mouse::before {
    content: '';
    position: absolute;
    top: 20%;
    height: 10px;
    border: 1.5px solid var(--white-color);
}

.menu {
    position: relative;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    border-bottom: 1px solid #ebebeb;
    z-index: 999999;
    top: 0;
}

.menu .container {
    z-index:  998;
    background-color: var(--white-color);
    padding: 0;
}

.menu__logo {
    position: relative;
    background-color: var(--white-color);
    z-index: 999;
    padding: 0 1em;
}

.menu__logo img {
    width: 150px;
    height: inherit;
    margin: 1em 0;
}

.menu__items {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 1px;
    left: 0;
    padding: 0 16px;
    background-color: var(--secondary-color);
    overflow: hidden;
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
    z-index: -10;
}

.menu.is-open .menu__items{
    height: auto;
    top: 100px;
}

.menu__items ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu__items li {
    text-align: center;
    color: var(--white-color);
    padding: .5em;
}

.menu__items li:not(.rs) a{
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--white-color);
}

.menu__items li:not(:last-child) {
    border-bottom: 1px solid rgba(9,85,170,0.52);
}

.menu__button{
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    top: 30px;
    right: 1em;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.menu__button-icon {
    position: relative;
    display: block;
    width: 40px;
    height: 2px;
    background-color: var(--primary-color);
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.menu__button-icon::before, 
.menu__button-icon::after {
    content: '';
    position: absolute;
    right: 10%;
    width: 80%;
    height: 100%;
    background-color: var(--primary-color);
    -webkit-transition: -webkit-transform .3s, top .3s;
    transition: transform .3s, top .3s;
} 

.menu__button-icon::before {
    top: -.5em;
}

.menu__button-icon::after {
    top: .5em;
}

.menu.is-open .menu__button-icon {
    background-color: var(--white-color);
}

.menu.is-open .menu__button-icon::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.menu.is-open .menu__button-icon::after {
    top: 0;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}

.nosotros {
    padding: 2em 1em;
}

.nosotros__container-img {
    width: 100%;
}

.servicios {
    background-color: var(--ligth-gray-color);
    padding: 2em 0;
    margin-bottom: 2em;
}

.servicios__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.servicio__item,
.servicio__item-img {
    position: relative;
    width: 100%;
    height: 100%;
}

.servicio__item_title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    overflow: hidden;
    background-color: rgba(16,25,50,0.8);
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: 600;
    text-align: center;
}

.diploma__item:not(:last-child) {
    padding-bottom: 1em;
    margin-bottom: 2em;
    border-bottom: 1px solid #e9e9e9;
}

.diploma__item-img {
    position: relative;
    width: 100%;
    margin-bottom: 1em;
}

.diploma__item-text ul {
    margin-bottom: 1em;
    padding: 0;
    list-style: none;
}

.diploma__item-text ul li {
    line-height: 1.25em;
}

.diploma__item-text ul li i {
    margin-right: .5em;
}

.diploma__item-text ul li span {
    font-weight: 600;
}

.clientes {
    position: relative;
    width: 100%;    
    background-color: var(--primary-color);
    padding: 1em;
    margin-top: 80px;
    display: flex;
    align-items: center;
}

.clientes .container{
    position: relative;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.clientes__title {
    position: absolute;
    width: 3em;
    height: 200px;
    left: 1em;
    bottom: 0;
    background-color: var(--secondary-color);
    box-shadow: 2px -1px 5px rgba(16,25,50,0.8);
    padding: 1em;
}

.clientes__title-text {
    width: .7em;
    word-wrap: break-word;
    font-size: 1.25em;
    line-height: 1em;
    text-align: center;
    color: var(--white-color);
}

.clientes__container {
    position: relative;
    width: calc(100% - 4em);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: .5em;
    overflow: hidden;
}

.clientes__item {
    height: calc(200px - 2em);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clientes__item-img {
    width: 70%;
}

.contacto {
    padding: 2em 0;
}

.contacto__container {  
    background: var(--white-color) url(../img/background-contacto.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top left;
}

.contacto__map{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 400px;
}

.footer {
    position: relative;
    background-color: var(--primary-color);
    color: var(--white-color);
}

.footer__container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.footer__container .bussines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__container-img {
    width: 120px;
    margin-bottom: 1em;
}

.footer__container .copyright {
    text-align: center;
    margin: 1em 0;
}

/* ===================================
                MEDIA QUERY
====================================== */

@media only screen and (min-width: 578px) { 
    .clientes__container {
        grid-template-columns: repeat(4, 1fr);
    }

    .clientes__item-img {
        width: 90%;
    }

    .servicios__container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 768px) {
    .rs a:not(:last-child) {
        margin-right: 1em;
    }

    .header__slide {
        background: var(--primary-color) url(../img/background.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .menu .container {
        display: flex;
        flex-direction: row;
        background-color: var(--white-color);
    }

    .menu__items {
        position: relative;
        background-color: var(--white-color);
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .menu__items ul {
        display: flex;
    }

    .menu__items li:not(.rs) a{
        text-decoration: none;
        color: var(--primary-color);
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }

    .menu__items li.rs {
        display: flex;
    }

    .menu__items li a {
        cursor: pointer;
    }

    .menu__items li.rs a {
        text-decoration: none;
        color: var(--primary-color);
    }

    .menu__items li:not(:last-child) {
        border-bottom: none;
    }

    .menu__button {
        display: none;
    }

    .nosotros__container {
        display: grid;
        grid-template-columns: 1fr 40%;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }

    .diploma__item:nth-child(2n) .diploma__item-img{
        order: 2;
    }
    
    .diploma__container, .diploma__item.other {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
        justify-content: center;
        align-items: center;
    }

    .clientes__title {
        height: 220px;
        width: 3.5em;
    }

    .clientes__title-text {
        font-size: 1.5em;
    }

    .clientes__container {
        padding-left: 16px;
    }

    .clientes__item {
        height: calc(100% - 32px);
    }

    .clientes__item-img {
        width: 50%;
    }

    .contacto__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer__container .bussines {
        order: 1
    }
}

@media only screen and (min-width: 1024px) { 
    .container, .section {
        width: 1024px;
        margin: 0 auto;
    }

    .servicios__container {
        grid-template-columns: repeat(5, 1fr);
        gap: 1em;
    }
}